#root{
  background-color: black;
  height:990px auto;
}

.test{
  color: violet !important;
}


.imgGithub{
  border: 1px solid white;
  width: 100px;
  height: 100px;
}

.reactlogo{
  width: 300px;
}